main {
    background-color: #282D35;
    color: white;
    height: 87vh;
    padding: 0 4vw;
    background-image: url(../../assets/images/reactjs-icon2.svg);
    background-repeat: no-repeat;
    background-size: 20vw;
    background-position: right top 10vh;

    h1 {
        font-family: Inter-Bold;
        font-size: 2.5em;
        letter-spacing: -0.05em;
        padding-top: 7vh;
        padding-bottom: 5vh;
    }

    & > ul {
        padding-left: 4vw;
        max-width: 35vw;
    }

    & > ul li {
        font-family: Inter-Regular;
        font-size: 1.1em;
        margin-bottom: 2vh;
    }

    & > ul li::marker {
        color: #61DAFB;
        font-size: 1.7em;
    }
}