header {
    background-color: #21222A;
    display: flex;
    align-items: center;
    height: 13vh;
    padding: 0 4vw;

    & > img {
        height: 4vh;
    }

    nav {
        display: flex;

        & > h1 {
            font-family: Inter-Bold;
            font-size: 1.6em;
            color: #61DAFB;
            margin-right: 58vw;
            margin-left: 1vw;
        }

        & > h2 {
            font-family: Inter-SemiBold;
            font-size: 1.3em;
            color: #DEEBF8;
        }
    }
}